<!doctype html>
<html>
<head>
    <title>ConvertNumberToWords</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
<div class="container">
     <div class="jumbotron" style="background-color: #ffffff">
        <h3>Number To Words</h3>
         {% block content %}
     </div>
</div>
      {% endblock %}
</body>
</html>